body{
	margin: 0;
}
main{
	margin: auto;
	padding: auto;
	width: 50%;
	

}

li{
	list-style-position: inside;
	
}
article{

	text-align: center;

}
header{
	background-color:black;
	padding: 15px 0 15px 0;
}
header h1{
	font-family: Verdana, Arial, Tahoma, Serif;
}
header h1, header h4{
	color: white;
	text-align: center;

}
img{
	margin-top: 20px;
}
a{
	text-decoration: none;
	cursor: pointer;
}
a:link{
	color: blue;
}
a:visited{
	color: red;
}
a:hover{
	color: steelblue;
}
a:active{
	color: lightblue;
}
.mapouter{
	position:relative;
	height:500px;
	width:700px;
}
.gmap_canvas {
	overflow:hidden;
	background:none!important;
	height:500px;
	width:700px;
}
iframe{
	width: 600px;
	height: 500px;
	border: none;
	border-radius: 5px;

}
footer{
	background-color: black;
	padding: 10px 0 10px 0;
	text-align: center;
}
footer span{
	color: white;
	
}
